@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
body{
    background-color: black;
    color: white;
    font-family: 'Barlow', sans-serif;
}

#navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    top: 0;
    right: 0;
    font-size: 3vh;
    margin-top: 10px;
    justify-content: space-around;
    align-content: flex-start;
    
    
}

#navbar-menu{
    position: fixed;
    top: 15px;
    right: 15px;
}



#navbar-menu .line1{
   
    width: 100px;
    height: 5px;
    background-color: white;
    margin-top: 30px;
    
}
#navbar-menu .line2{
    width: 100px;
    height: 5px;
    background-color: white;
    margin-top: 10px;
  
}
#navbar-menu .line3{
    width: 100px;
    height: 5px;
    background-color: white;
    margin-top: 10px;
    
}

#navbar-items{
    visibility: hidden;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-content: start;
   
}

#navbar-items a{
    text-decoration: none;
    color: white;    
}

@media only screen and (min-width: 992px) {

    #navbar{
        margin-top: 40px;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 3vh;
        margin-left: auto;
        
    }
    
    
    
    #navbar-menu .line1{
        width: 100px;
        height: 5px;
        background-color: white;
        margin-top: 10px;
        

        
    }
    #navbar-menu .line2{
        width: 100px;
        height: 5px;
        background-color: white;
        margin-top: 10px;
       
    }
    #navbar-menu .line3{
        width: 100px;
        height: 5px;
        background-color: white;
        margin-top: 10px;
        
    }
    
    #navbar-items{
        
        visibility: hidden;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-content: end;
        
    }
    #navbar-items a{
        text-decoration: none;
        color: white;    
    }
}